In [1]:
import pandas as pd

In [2]:
result=pd.read_excel("result.xlsx",index_col="Roll_No")
result

               Name   Python  Flask  Django  Javascript  Pandas  Numpy
Roll_No
1              ubaid      88     70      66          54      55     60
2                ali      44     50      77          34      78     80
3              imran      33     60      34          30      66     35
4              ahmed      45     80      55          40      77     36
5               hina      66     35      66          89      34     39
6              anaya      24     36      78          88      55     88
7             afshan      55     39      99          54      66     44
8              sonia      78     88      54          89      78     34
9              mohid      66     44      34          23      99     54
10             salma      77     56      54          68      54     34
11              aqsa      34     43      34          98      34     30
12              aniq      55     35      30          65      54     88
13            junaid      66     55      40          70      34     54
14            ayesha      78     66      89          50      30     89
15           sumaira      99     78      88          60      40     77
16            hassan      54     99      54          80      89     34
17            aresha      34     54      89          35      88     55
18              omer      54     34      23          36      54     66
19             rakin      34     54      68          39      89     78
20             rahim      30     34      98          88      23     99
21             rasim      40     30      65          44      68     54
22              hani      55     40      70          34      98     34
23            aymeen      67     55      50          54      65     39
24              zaid      54     67      60          34      54     88
25           hasnain      89     54      80          30      34     44
26           hanzila      87     89      35          88      30     56
27           hussain      44     87      36          54      40     43
28             amjad      89     44      39          89      89     35
29             nasir      88     89      88          23      88     55
30           zeeshan      54     88      44          68      54     66
31             saima      89     88      56          98      89     78
32             hanif      23     44      43          65      23     99
33       salma hanif      68     33      35          56      68     54
34              sana      98     45      55          78      98     34
35             javed      65     66      66          56      65     54
36             jawad      56     24      78          53      70     34
37             nahid      78     55      99          63      50     30
38             kawal      56     78      54          67      60     40
39             razia      53     66      34          65      80     55
40              amna      63     77      54          89      35     67
41             rabia      67     34      34          39      36     54
42             seema      65     55      30          67      39     88
43            nafisa      89     66      88          54      88     44
44            salman      88     78      54          89      44     33
45            mohsin      75     99      89          87      34     45
46           zareena      33     54      23          44      54     66
47           khatoon      78     34      68          89      34     24
48             zawar      70     54      98          88      30     55
49             kamal      50     34      65          88      88     78
50            feroza      60     30      56          44      54     66
51             feroz      80     40      78          33      89     77
52             zafar      35     89      56          45      77     34
53            yaqoob      36     88      53          66      34     55
54             jamal      39     54      63          24      55     66
55            jamela      88     89      67          55      66     78
56            yousuf      44     23      65          78      78     99
57             ammar      56     68      89          66      99     54
58            qainat      43     98      39          77      54     34
59            jannat      35     65      88          34      34     54

In [3]:
result['Total_Marks']=result.Python+result.Flask+result.Django+result.Javascript+result.Pandas+result.Numpy

In [4]:
result

,Name,Python,Flask,Django,Javascript,Pandas,Numpy,Total_Marks
Roll_No,,,,,,,,
1,ubaid,88,70,66,54,55,60,393
2,ali,44,50,77,34,78,80,363
3,imran,33,60,34,30,66,35,258
4,ahmed,45,80,55,40,77,36,333
5,hina,66,35,66,89,34,39,329
6,anaya,24,36,78,88,55,88,369
7,afshan,55,39,99,54,66,44,357
8,sonia,78,88,54,89,78,34,421
9,mohid,66,44,34,23,99,54,320
10,salma,77,56,54,68,54,34,343
11,aqsa,34,43,34,98,34,30,273
12,aniq,55,35,30,65,54,88,327
13,junaid,66,55,40,70,34,54,319
14,ayesha,78,66,89,50,30,89,402
15,sumaira,99,78,88,60,40,77,442
16,hassan,54,99,54,80,89,34,410
17,aresha,34,54,89,35,88,55,355
18,omer,54,34,23,36,54,66,267
19,rakin,34,54,68,39,89,78,362
20,rahim,30,34,98,88,23,99,372
21,rasim,40,30,65,44,68,54,301
22,hani,55,40,70,34,98,34,331
23,aymeen,67,55,50,54,65,39,330
24,zaid,54,67,60,34,54,88,357
25,hasnain,89,54,80,30,34,44,331
26,hanzila,87,89,35,88,30,56,385
27,hussain,44,87,36,54,40,43,304
28,amjad,89,44,39,89,89,35,385
29,nasir,88,89,88,23,88,55,431
30,zeeshan,54,88,44,68,54,66,374
31,saima,89,88,56,98,89,78,498
32,hanif,23,44,43,65,23,99,297
33,salma hanif,68,33,35,56,68,54,314
34,sana,98,45,55,78,98,34,408
35,javed,65,66,66,56,65,54,372
36,jawad,56,24,78,53,70,34,315
37,nahid,78,55,99,63,50,30,375
38,kawal,56,78,54,67,60,40,355
39,razia,53,66,34,65,80,55,353
40,amna,63,77,54,89,35,67,385
41,rabia,67,34,34,39,36,54,264
42,seema,65,55,30,67,39,88,344
43,nafisa,89,66,88,54,88,44,429
44,salman,88,78,54,89,44,33,386
45,mohsin,75,99,89,87,34,45,429
46,zareena,33,54,23,44,54,66,274
47,khatoon,78,34,68,89,34,24,327
48,zawar,70,54,98,88,30,55,395
49,kamal,50,34,65,88,88,78,403
50,feroza,60,30,56,44,54,66,310
51,feroz,80,40,78,33,89,77,397
52,zafar,35,89,56,45,77,34,336
53,yaqoob,36,88,53,66,34,55,332
54,jamal,39,54,63,24,55,66,301
55,jamela,88,89,67,55,66,78,443
56,yousuf,44,23,65,78,78,99,387
57,ammar,56,68,89,66,99,54,432
58,qainat,43,98,39,77,54,34,345
59,jannat,35,65,88,34,34,54,310

In [5]:
result['Percentage']=round(result.Total_Marks/600*100,2)

In [6]:
result

,Name,Python,Flask,Django,Javascript,Pandas,Numpy,Total_Marks,Percentage
Roll_No,,,,,,,,,
1,ubaid,88,70,66,54,55,60,393,65.50
2,ali,44,50,77,34,78,80,363,60.50
3,imran,33,60,34,30,66,35,258,43.00
4,ahmed,45,80,55,40,77,36,333,55.50
5,hina,66,35,66,89,34,39,329,54.83
6,anaya,24,36,78,88,55,88,369,61.50
7,afshan,55,39,99,54,66,44,357,59.50
8,sonia,78,88,54,89,78,34,421,70.17
9,mohid,66,44,34,23,99,54,320,53.33
10,salma,77,56,54,68,54,34,343,57.17
11,aqsa,34,43,34,98,34,30,273,45.50
12,aniq,55,35,30,65,54,88,327,54.50
13,junaid,66,55,40,70,34,54,319,53.17
14,ayesha,78,66,89,50,30,89,402,67.00
15,sumaira,99,78,88,60,40,77,442,73.67
16,hassan,54,99,54,80,89,34,410,68.33
17,aresha,34,54,89,35,88,55,355,59.17
18,omer,54,34,23,36,54,66,267,44.50
19,rakin,34,54,68,39,89,78,362,60.33
20,rahim,30,34,98,88,23,99,372,62.00
21,rasim,40,30,65,44,68,54,301,50.17
22,hani,55,40,70,34,98,34,331,55.17
23,aymeen,67,55,50,54,65,39,330,55.00
24,zaid,54,67,60,34,54,88,357,59.50
25,hasnain,89,54,80,30,34,44,331,55.17
26,hanzila,87,89,35,88,30,56,385,64.17
27,hussain,44,87,36,54,40,43,304,50.67
28,amjad,89,44,39,89,89,35,385,64.17
29,nasir,88,89,88,23,88,55,431,71.83
30,zeeshan,54,88,44,68,54,66,374,62.33
31,saima,89,88,56,98,89,78,498,83.00
32,hanif,23,44,43,65,23,99,297,49.50
33,salma hanif,68,33,35,56,68,54,314,52.33
34,sana,98,45,55,78,98,34,408,68.00
35,javed,65,66,66,56,65,54,372,62.00
36,jawad,56,24,78,53,70,34,315,52.50
37,nahid,78,55,99,63,50,30,375,62.50
38,kawal,56,78,54,67,60,40,355,59.17
39,razia,53,66,34,65,80,55,353,58.83
40,amna,63,77,54,89,35,67,385,64.17
41,rabia,67,34,34,39,36,54,264,44.00
42,seema,65,55,30,67,39,88,344,57.33
43,nafisa,89,66,88,54,88,44,429,71.50
44,salman,88,78,54,89,44,33,386,64.33
45,mohsin,75,99,89,87,34,45,429,71.50
46,zareena,33,54,23,44,54,66,274,45.67
47,khatoon,78,34,68,89,34,24,327,54.50
48,zawar,70,54,98,88,30,55,395,65.83
49,kamal,50,34,65,88,88,78,403,67.17
50,feroza,60,30,56,44,54,66,310,51.67
51,feroz,80,40,78,33,89,77,397,66.17
52,zafar,35,89,56,45,77,34,336,56.00
53,yaqoob,36,88,53,66,34,55,332,55.33
54,jamal,39,54,63,24,55,66,301,50.17
55,jamela,88,89,67,55,66,78,443,73.83
56,yousuf,44,23,65,78,78,99,387,64.50
57,ammar,56,68,89,66,99,54,432,72.00
58,qainat,43,98,39,77,54,34,345,57.50
59,jannat,35,65,88,34,34,54,310,51.67

In [14]:
def grade(marks):
    python,flask,django,javascript,pandas,numpy=marks
    
    if python>35:
        if flask>35:
            if django>35:
                if javascript>35:
                    if pandas>35:
                        if numpy>35:
                            return "pass"
                        else:
                            return "fail"
                    else:
                        return "fail"
                else:
                    return "fail"
            else:
         
                return "fail"
        else:
            return "fail"
    else:
        return "fail"

In [11]:
zi=zip(result.Python,result.Flask,result.Django,result.Javascript,result.Pandas,result.Numpy)

In [15]:
result["status"]=[grade(a) for a in zip(result.Python,result.Flask,result.Django,result.Javascript,result.Pandas,result.Numpy)]

r

In [16]:
result

,Name,Python,Flask,Django,Javascript,Pandas,Numpy,Total_Marks,Percentage,status
Roll_No,,,,,,,,,,
1,ubaid,88,70,66,54,55,60,393,65.50,pass
2,ali,44,50,77,34,78,80,363,60.50,fail
3,imran,33,60,34,30,66,35,258,43.00,fail
4,ahmed,45,80,55,40,77,36,333,55.50,pass
5,hina,66,35,66,89,34,39,329,54.83,fail
6,anaya,24,36,78,88,55,88,369,61.50,fail
7,afshan,55,39,99,54,66,44,357,59.50,pass
8,sonia,78,88,54,89,78,34,421,70.17,fail
9,mohid,66,44,34,23,99,54,320,53.33,fail
10,salma,77,56,54,68,54,34,343,57.17,fail
11,aqsa,34,43,34,98,34,30,273,45.50,fail
12,aniq,55,35,30,65,54,88,327,54.50,fail
13,junaid,66,55,40,70,34,54,319,53.17,fail
14,ayesha,78,66,89,50,30,89,402,67.00,fail
15,sumaira,99,78,88,60,40,77,442,73.67,pass
16,hassan,54,99,54,80,89,34,410,68.33,fail
17,aresha,34,54,89,35,88,55,355,59.17,fail
18,omer,54,34,23,36,54,66,267,44.50,fail
19,rakin,34,54,68,39,89,78,362,60.33,fail
20,rahim,30,34,98,88,23,99,372,62.00,fail
21,rasim,40,30,65,44,68,54,301,50.17,fail
22,hani,55,40,70,34,98,34,331,55.17,fail
23,aymeen,67,55,50,54,65,39,330,55.00,pass
24,zaid,54,67,60,34,54,88,357,59.50,fail
25,hasnain,89,54,80,30,34,44,331,55.17,fail
26,hanzila,87,89,35,88,30,56,385,64.17,fail
27,hussain,44,87,36,54,40,43,304,50.67,pass
28,amjad,89,44,39,89,89,35,385,64.17,fail
29,nasir,88,89,88,23,88,55,431,71.83,fail
30,zeeshan,54,88,44,68,54,66,374,62.33,pass
31,saima,89,88,56,98,89,78,498,83.00,pass
32,hanif,23,44,43,65,23,99,297,49.50,fail
33,salma hanif,68,33,35,56,68,54,314,52.33,fail
34,sana,98,45,55,78,98,34,408,68.00,fail
35,javed,65,66,66,56,65,54,372,62.00,pass
36,jawad,56,24,78,53,70,34,315,52.50,fail
37,nahid,78,55,99,63,50,30,375,62.50,fail
38,kawal,56,78,54,67,60,40,355,59.17,pass
39,razia,53,66,34,65,80,55,353,58.83,fail
40,amna,63,77,54,89,35,67,385,64.17,fail
41,rabia,67,34,34,39,36,54,264,44.00,fail
42,seema,65,55,30,67,39,88,344,57.33,fail
43,nafisa,89,66,88,54,88,44,429,71.50,pass
44,salman,88,78,54,89,44,33,386,64.33,fail
45,mohsin,75,99,89,87,34,45,429,71.50,fail
46,zareena,33,54,23,44,54,66,274,45.67,fail
47,khatoon,78,34,68,89,34,24,327,54.50,fail
48,zawar,70,54,98,88,30,55,395,65.83,fail
49,kamal,50,34,65,88,88,78,403,67.17,fail
50,feroza,60,30,56,44,54,66,310,51.67,fail
51,feroz,80,40,78,33,89,77,397,66.17,fail
52,zafar,35,89,56,45,77,34,336,56.00,fail
53,yaqoob,36,88,53,66,34,55,332,55.33,fail
54,jamal,39,54,63,24,55,66,301,50.17,fail
55,jamela,88,89,67,55,66,78,443,73.83,pass
56,yousuf,44,23,65,78,78,99,387,64.50,fail
57,ammar,56,68,89,66,99,54,432,72.00,pass
58,qainat,43,98,39,77,54,34,345,57.50,fail
59,jannat,35,65,88,34,34,54,310,51.67,fail

In [17]:
zip

In [18]:
result['Status']=grade(zip)

In [19]:
result

,Name,Python,Flask,Django,Javascript,Pandas,Numpy,Total_Marks,Percentage,Status
Roll_No,,,,,,,,,,
1,ubaid,88,70,66,54,55,60,393,65.50,pass
2,ali,44,50,77,34,78,80,363,60.50,pass
3,imran,33,60,34,30,66,35,258,43.00,pass
4,ahmed,45,80,55,40,77,36,333,55.50,pass
5,hina,66,35,66,89,34,39,329,54.83,pass
6,anaya,24,36,78,88,55,88,369,61.50,pass
7,afshan,55,39,99,54,66,44,357,59.50,pass
8,sonia,78,88,54,89,78,34,421,70.17,pass
9,mohid,66,44,34,23,99,54,320,53.33,pass
10,salma,77,56,54,68,54,34,343,57.17,pass
11,aqsa,34,43,34,98,34,30,273,45.50,pass
12,aniq,55,35,30,65,54,88,327,54.50,pass
13,junaid,66,55,40,70,34,54,319,53.17,pass
14,ayesha,78,66,89,50,30,89,402,67.00,pass
15,sumaira,99,78,88,60,40,77,442,73.67,pass
16,hassan,54,99,54,80,89,34,410,68.33,pass
17,aresha,34,54,89,35,88,55,355,59.17,pass
18,omer,54,34,23,36,54,66,267,44.50,pass
19,rakin,34,54,68,39,89,78,362,60.33,pass
20,rahim,30,34,98,88,23,99,372,62.00,pass
21,rasim,40,30,65,44,68,54,301,50.17,pass
22,hani,55,40,70,34,98,34,331,55.17,pass
23,aymeen,67,55,50,54,65,39,330,55.00,pass
24,zaid,54,67,60,34,54,88,357,59.50,pass
25,hasnain,89,54,80,30,34,44,331,55.17,pass
26,hanzila,87,89,35,88,30,56,385,64.17,pass
27,hussain,44,87,36,54,40,43,304,50.67,pass
28,amjad,89,44,39,89,89,35,385,64.17,pass
29,nasir,88,89,88,23,88,55,431,71.83,pass
30,zeeshan,54,88,44,68,54,66,374,62.33,pass
31,saima,89,88,56,98,89,78,498,83.00,pass
32,hanif,23,44,43,65,23,99,297,49.50,pass
33,salma hanif,68,33,35,56,68,54,314,52.33,pass
34,sana,98,45,55,78,98,34,408,68.00,pass
35,javed,65,66,66,56,65,54,372,62.00,pass
36,jawad,56,24,78,53,70,34,315,52.50,pass
37,nahid,78,55,99,63,50,30,375,62.50,pass
38,kawal,56,78,54,67,60,40,355,59.17,pass
39,razia,53,66,34,65,80,55,353,58.83,pass
40,amna,63,77,54,89,35,67,385,64.17,pass
41,rabia,67,34,34,39,36,54,264,44.00,pass
42,seema,65,55,30,67,39,88,344,57.33,pass
43,nafisa,89,66,88,54,88,44,429,71.50,pass
44,salman,88,78,54,89,44,33,386,64.33,pass
45,mohsin,75,99,89,87,34,45,429,71.50,pass
46,zareena,33,54,23,44,54,66,274,45.67,pass
47,khatoon,78,34,68,89,34,24,327,54.50,pass
48,zawar,70,54,98,88,30,55,395,65.83,pass
49,kamal,50,34,65,88,88,78,403,67.17,pass
50,feroza,60,30,56,44,54,66,310,51.67,pass
51,feroz,80,40,78,33,89,77,397,66.17,pass
52,zafar,35,89,56,45,77,34,336,56.00,pass
53,yaqoob,36,88,53,66,34,55,332,55.33,pass
54,jamal,39,54,63,24,55,66,301,50.17,pass
55,jamela,88,89,67,55,66,78,443,73.83,pass
56,yousuf,44,23,65,78,78,99,387,64.50,pass
57,ammar,56,68,89,66,99,54,432,72.00,pass
58,qainat,43,98,39,77,54,34,345,57.50,pass
59,jannat,35,65,88,34,34,54,310,51.67,pass

In [21]:
result

,Name,Python,Flask,Django,Javascript,Pandas,Numpy,Total_Marks,Percentage,Status
Roll_No,,,,,,,,,,
1,ubaid,88,70,66,54,55,60,393,65.50,pass
2,ali,44,50,77,34,78,80,363,60.50,pass
3,imran,33,60,34,30,66,35,258,43.00,pass
4,ahmed,45,80,55,40,77,36,333,55.50,pass
5,hina,66,35,66,89,34,39,329,54.83,pass
6,anaya,24,36,78,88,55,88,369,61.50,pass
7,afshan,55,39,99,54,66,44,357,59.50,pass
8,sonia,78,88,54,89,78,34,421,70.17,pass
9,mohid,66,44,34,23,99,54,320,53.33,pass
10,salma,77,56,54,68,54,34,343,57.17,pass
11,aqsa,34,43,34,98,34,30,273,45.50,pass
12,aniq,55,35,30,65,54,88,327,54.50,pass
13,junaid,66,55,40,70,34,54,319,53.17,pass
14,ayesha,78,66,89,50,30,89,402,67.00,pass
15,sumaira,99,78,88,60,40,77,442,73.67,pass
16,hassan,54,99,54,80,89,34,410,68.33,pass
17,aresha,34,54,89,35,88,55,355,59.17,pass
18,omer,54,34,23,36,54,66,267,44.50,pass
19,rakin,34,54,68,39,89,78,362,60.33,pass
20,rahim,30,34,98,88,23,99,372,62.00,pass
21,rasim,40,30,65,44,68,54,301,50.17,pass
22,hani,55,40,70,34,98,34,331,55.17,pass
23,aymeen,67,55,50,54,65,39,330,55.00,pass
24,zaid,54,67,60,34,54,88,357,59.50,pass
25,hasnain,89,54,80,30,34,44,331,55.17,pass
26,hanzila,87,89,35,88,30,56,385,64.17,pass
27,hussain,44,87,36,54,40,43,304,50.67,pass
28,amjad,89,44,39,89,89,35,385,64.17,pass
29,nasir,88,89,88,23,88,55,431,71.83,pass
30,zeeshan,54,88,44,68,54,66,374,62.33,pass
31,saima,89,88,56,98,89,78,498,83.00,pass
32,hanif,23,44,43,65,23,99,297,49.50,pass
33,salma hanif,68,33,35,56,68,54,314,52.33,pass
34,sana,98,45,55,78,98,34,408,68.00,pass
35,javed,65,66,66,56,65,54,372,62.00,pass
36,jawad,56,24,78,53,70,34,315,52.50,pass
37,nahid,78,55,99,63,50,30,375,62.50,pass
38,kawal,56,78,54,67,60,40,355,59.17,pass
39,razia,53,66,34,65,80,55,353,58.83,pass
40,amna,63,77,54,89,35,67,385,64.17,pass
41,rabia,67,34,34,39,36,54,264,44.00,pass
42,seema,65,55,30,67,39,88,344,57.33,pass
43,nafisa,89,66,88,54,88,44,429,71.50,pass
44,salman,88,78,54,89,44,33,386,64.33,pass
45,mohsin,75,99,89,87,34,45,429,71.50,pass
46,zareena,33,54,23,44,54,66,274,45.67,pass
47,khatoon,78,34,68,89,34,24,327,54.50,pass
48,zawar,70,54,98,88,30,55,395,65.83,pass
49,kamal,50,34,65,88,88,78,403,67.17,pass
50,feroza,60,30,56,44,54,66,310,51.67,pass
51,feroz,80,40,78,33,89,77,397,66.17,pass
52,zafar,35,89,56,45,77,34,336,56.00,pass
53,yaqoob,36,88,53,66,34,55,332,55.33,pass
54,jamal,39,54,63,24,55,66,301,50.17,pass
55,jamela,88,89,67,55,66,78,443,73.83,pass
56,yousuf,44,23,65,78,78,99,387,64.50,pass
57,ammar,56,68,89,66,99,54,432,72.00,pass
58,qainat,43,98,39,77,54,34,345,57.50,pass
59,jannat,35,65,88,34,34,54,310,51.67,pass

In [17]:
result

,Name,Python,Flask,Django,Javascript,Pandas,Numpy,Total_Marks,Percentage,status
Roll_No,,,,,,,,,,
1,ubaid,88,70,66,54,55,60,393,65.50,pass
2,ali,44,50,77,34,78,80,363,60.50,fail
3,imran,33,60,34,30,66,35,258,43.00,fail
4,ahmed,45,80,55,40,77,36,333,55.50,pass
5,hina,66,35,66,89,34,39,329,54.83,fail
6,anaya,24,36,78,88,55,88,369,61.50,fail
7,afshan,55,39,99,54,66,44,357,59.50,pass
8,sonia,78,88,54,89,78,34,421,70.17,fail
9,mohid,66,44,34,23,99,54,320,53.33,fail
10,salma,77,56,54,68,54,34,343,57.17,fail
11,aqsa,34,43,34,98,34,30,273,45.50,fail
12,aniq,55,35,30,65,54,88,327,54.50,fail
13,junaid,66,55,40,70,34,54,319,53.17,fail
14,ayesha,78,66,89,50,30,89,402,67.00,fail
15,sumaira,99,78,88,60,40,77,442,73.67,pass
16,hassan,54,99,54,80,89,34,410,68.33,fail
17,aresha,34,54,89,35,88,55,355,59.17,fail
18,omer,54,34,23,36,54,66,267,44.50,fail
19,rakin,34,54,68,39,89,78,362,60.33,fail
20,rahim,30,34,98,88,23,99,372,62.00,fail
21,rasim,40,30,65,44,68,54,301,50.17,fail
22,hani,55,40,70,34,98,34,331,55.17,fail
23,aymeen,67,55,50,54,65,39,330,55.00,pass
24,zaid,54,67,60,34,54,88,357,59.50,fail
25,hasnain,89,54,80,30,34,44,331,55.17,fail
26,hanzila,87,89,35,88,30,56,385,64.17,fail
27,hussain,44,87,36,54,40,43,304,50.67,pass
28,amjad,89,44,39,89,89,35,385,64.17,fail
29,nasir,88,89,88,23,88,55,431,71.83,fail
30,zeeshan,54,88,44,68,54,66,374,62.33,pass
31,saima,89,88,56,98,89,78,498,83.00,pass
32,hanif,23,44,43,65,23,99,297,49.50,fail
33,salma hanif,68,33,35,56,68,54,314,52.33,fail
34,sana,98,45,55,78,98,34,408,68.00,fail
35,javed,65,66,66,56,65,54,372,62.00,pass
36,jawad,56,24,78,53,70,34,315,52.50,fail
37,nahid,78,55,99,63,50,30,375,62.50,fail
38,kawal,56,78,54,67,60,40,355,59.17,pass
39,razia,53,66,34,65,80,55,353,58.83,fail
40,amna,63,77,54,89,35,67,385,64.17,fail
41,rabia,67,34,34,39,36,54,264,44.00,fail
42,seema,65,55,30,67,39,88,344,57.33,fail
43,nafisa,89,66,88,54,88,44,429,71.50,pass
44,salman,88,78,54,89,44,33,386,64.33,fail
45,mohsin,75,99,89,87,34,45,429,71.50,fail
46,zareena,33,54,23,44,54,66,274,45.67,fail
47,khatoon,78,34,68,89,34,24,327,54.50,fail
48,zawar,70,54,98,88,30,55,395,65.83,fail
49,kamal,50,34,65,88,88,78,403,67.17,fail
50,feroza,60,30,56,44,54,66,310,51.67,fail
51,feroz,80,40,78,33,89,77,397,66.17,fail
52,zafar,35,89,56,45,77,34,336,56.00,fail
53,yaqoob,36,88,53,66,34,55,332,55.33,fail
54,jamal,39,54,63,24,55,66,301,50.17,fail
55,jamela,88,89,67,55,66,78,443,73.83,pass
56,yousuf,44,23,65,78,78,99,387,64.50,fail
57,ammar,56,68,89,66,99,54,432,72.00,pass
58,qainat,43,98,39,77,54,34,345,57.50,fail
59,jannat,35,65,88,34,34,54,310,51.67,fail

In [28]:
result["status_b"]=[return "pass" if py>35 and fl>35 and dj>35 and pa>35 and nu>35 else return "fail" for py,fl,dj,ja,pa,nu in zip(result.Python,result.Flask,result.Django,result.Javascript,result.Pandas,result.Numpy)]

SyntaxError: invalid syntax (1637892841.py, line 1)

In [29]:
result

,Name,Python,Flask,Django,Javascript,Pandas,Numpy,Total_Marks,Percentage,status
Roll_No,,,,,,,,,,
1,ubaid,88,70,66,54,55,60,393,65.50,pass
2,ali,44,50,77,34,78,80,363,60.50,fail
3,imran,33,60,34,30,66,35,258,43.00,fail
4,ahmed,45,80,55,40,77,36,333,55.50,pass
5,hina,66,35,66,89,34,39,329,54.83,fail
6,anaya,24,36,78,88,55,88,369,61.50,fail
7,afshan,55,39,99,54,66,44,357,59.50,pass
8,sonia,78,88,54,89,78,34,421,70.17,fail
9,mohid,66,44,34,23,99,54,320,53.33,fail
10,salma,77,56,54,68,54,34,343,57.17,fail
11,aqsa,34,43,34,98,34,30,273,45.50,fail
12,aniq,55,35,30,65,54,88,327,54.50,fail
13,junaid,66,55,40,70,34,54,319,53.17,fail
14,ayesha,78,66,89,50,30,89,402,67.00,fail
15,sumaira,99,78,88,60,40,77,442,73.67,pass
16,hassan,54,99,54,80,89,34,410,68.33,fail
17,aresha,34,54,89,35,88,55,355,59.17,fail
18,omer,54,34,23,36,54,66,267,44.50,fail
19,rakin,34,54,68,39,89,78,362,60.33,fail
20,rahim,30,34,98,88,23,99,372,62.00,fail
21,rasim,40,30,65,44,68,54,301,50.17,fail
22,hani,55,40,70,34,98,34,331,55.17,fail
23,aymeen,67,55,50,54,65,39,330,55.00,pass
24,zaid,54,67,60,34,54,88,357,59.50,fail
25,hasnain,89,54,80,30,34,44,331,55.17,fail
26,hanzila,87,89,35,88,30,56,385,64.17,fail
27,hussain,44,87,36,54,40,43,304,50.67,pass
28,amjad,89,44,39,89,89,35,385,64.17,fail
29,nasir,88,89,88,23,88,55,431,71.83,fail
30,zeeshan,54,88,44,68,54,66,374,62.33,pass
31,saima,89,88,56,98,89,78,498,83.00,pass
32,hanif,23,44,43,65,23,99,297,49.50,fail
33,salma hanif,68,33,35,56,68,54,314,52.33,fail
34,sana,98,45,55,78,98,34,408,68.00,fail
35,javed,65,66,66,56,65,54,372,62.00,pass
36,jawad,56,24,78,53,70,34,315,52.50,fail
37,nahid,78,55,99,63,50,30,375,62.50,fail
38,kawal,56,78,54,67,60,40,355,59.17,pass
39,razia,53,66,34,65,80,55,353,58.83,fail
40,amna,63,77,54,89,35,67,385,64.17,fail
41,rabia,67,34,34,39,36,54,264,44.00,fail
42,seema,65,55,30,67,39,88,344,57.33,fail
43,nafisa,89,66,88,54,88,44,429,71.50,pass
44,salman,88,78,54,89,44,33,386,64.33,fail
45,mohsin,75,99,89,87,34,45,429,71.50,fail
46,zareena,33,54,23,44,54,66,274,45.67,fail
47,khatoon,78,34,68,89,34,24,327,54.50,fail
48,zawar,70,54,98,88,30,55,395,65.83,fail
49,kamal,50,34,65,88,88,78,403,67.17,fail
50,feroza,60,30,56,44,54,66,310,51.67,fail
51,feroz,80,40,78,33,89,77,397,66.17,fail
52,zafar,35,89,56,45,77,34,336,56.00,fail
53,yaqoob,36,88,53,66,34,55,332,55.33,fail
54,jamal,39,54,63,24,55,66,301,50.17,fail
55,jamela,88,89,67,55,66,78,443,73.83,pass
56,yousuf,44,23,65,78,78,99,387,64.50,fail
57,ammar,56,68,89,66,99,54,432,72.00,pass
58,qainat,43,98,39,77,54,34,345,57.50,fail
59,jannat,35,65,88,34,34,54,310,51.67,fail

In [46]:
result['Grade_1']=["Grade A+" if per>90 else "Grade A" if per>80 else "Grade B" if per>70 else "Grade C" if per>60 else "Grade D" if per>50 else "Pass" if per>35 else "fail" for per in result.Percentage]

In [40]:
def hi(percentage):
    if percentage>90:
        return "Garde A+"
    elif percentage>80:
        return "Grade A"
    elif percentage>70:
        return "Grade B"
    elif percentage>60:
        return "Grade C"
    elif percentage>50:
        return "Grade D"
    elif percentage>35:
        return "Passed"
    else:
        return "Failed"

In [43]:
result["Grade"]=result.Percentage.apply(hi)

In [44]:
result

,Name,Python,Flask,Django,Javascript,Pandas,Numpy,Total_Marks,Percentage,status,Grade
Roll_No,,,,,,,,,,,
1,ubaid,88,70,66,54,55,60,393,65.50,pass,Grade C
2,ali,44,50,77,34,78,80,363,60.50,fail,Grade C
3,imran,33,60,34,30,66,35,258,43.00,fail,Passed
4,ahmed,45,80,55,40,77,36,333,55.50,pass,Grade D
5,hina,66,35,66,89,34,39,329,54.83,fail,Grade D
6,anaya,24,36,78,88,55,88,369,61.50,fail,Grade C
7,afshan,55,39,99,54,66,44,357,59.50,pass,Grade D
8,sonia,78,88,54,89,78,34,421,70.17,fail,Grade B
9,mohid,66,44,34,23,99,54,320,53.33,fail,Grade D
10,salma,77,56,54,68,54,34,343,57.17,fail,Grade D
11,aqsa,34,43,34,98,34,30,273,45.50,fail,Passed
12,aniq,55,35,30,65,54,88,327,54.50,fail,Grade D
13,junaid,66,55,40,70,34,54,319,53.17,fail,Grade D
14,ayesha,78,66,89,50,30,89,402,67.00,fail,Grade C
15,sumaira,99,78,88,60,40,77,442,73.67,pass,Grade B
16,hassan,54,99,54,80,89,34,410,68.33,fail,Grade C
17,aresha,34,54,89,35,88,55,355,59.17,fail,Grade D
18,omer,54,34,23,36,54,66,267,44.50,fail,Passed
19,rakin,34,54,68,39,89,78,362,60.33,fail,Grade C
20,rahim,30,34,98,88,23,99,372,62.00,fail,Grade C
21,rasim,40,30,65,44,68,54,301,50.17,fail,Grade D
22,hani,55,40,70,34,98,34,331,55.17,fail,Grade D
23,aymeen,67,55,50,54,65,39,330,55.00,pass,Grade D
24,zaid,54,67,60,34,54,88,357,59.50,fail,Grade D
25,hasnain,89,54,80,30,34,44,331,55.17,fail,Grade D
26,hanzila,87,89,35,88,30,56,385,64.17,fail,Grade C
27,hussain,44,87,36,54,40,43,304,50.67,pass,Grade D
28,amjad,89,44,39,89,89,35,385,64.17,fail,Grade C
29,nasir,88,89,88,23,88,55,431,71.83,fail,Grade B
30,zeeshan,54,88,44,68,54,66,374,62.33,pass,Grade C
31,saima,89,88,56,98,89,78,498,83.00,pass,Grade A
32,hanif,23,44,43,65,23,99,297,49.50,fail,Passed
33,salma hanif,68,33,35,56,68,54,314,52.33,fail,Grade D
34,sana,98,45,55,78,98,34,408,68.00,fail,Grade C
35,javed,65,66,66,56,65,54,372,62.00,pass,Grade C
36,jawad,56,24,78,53,70,34,315,52.50,fail,Grade D
37,nahid,78,55,99,63,50,30,375,62.50,fail,Grade C
38,kawal,56,78,54,67,60,40,355,59.17,pass,Grade D
39,razia,53,66,34,65,80,55,353,58.83,fail,Grade D
40,amna,63,77,54,89,35,67,385,64.17,fail,Grade C
41,rabia,67,34,34,39,36,54,264,44.00,fail,Passed
42,seema,65,55,30,67,39,88,344,57.33,fail,Grade D
43,nafisa,89,66,88,54,88,44,429,71.50,pass,Grade B
44,salman,88,78,54,89,44,33,386,64.33,fail,Grade C
45,mohsin,75,99,89,87,34,45,429,71.50,fail,Grade B
46,zareena,33,54,23,44,54,66,274,45.67,fail,Passed
47,khatoon,78,34,68,89,34,24,327,54.50,fail,Grade D
48,zawar,70,54,98,88,30,55,395,65.83,fail,Grade C
49,kamal,50,34,65,88,88,78,403,67.17,fail,Grade C
50,feroza,60,30,56,44,54,66,310,51.67,fail,Grade D
51,feroz,80,40,78,33,89,77,397,66.17,fail,Grade C
52,zafar,35,89,56,45,77,34,336,56.00,fail,Grade D
53,yaqoob,36,88,53,66,34,55,332,55.33,fail,Grade D
54,jamal,39,54,63,24,55,66,301,50.17,fail,Grade D
55,jamela,88,89,67,55,66,78,443,73.83,pass,Grade B
56,yousuf,44,23,65,78,78,99,387,64.50,fail,Grade C
57,ammar,56,68,89,66,99,54,432,72.00,pass,Grade B
58,qainat,43,98,39,77,54,34,345,57.50,fail,Grade D
59,jannat,35,65,88,34,34,54,310,51.67,fail,Grade D

In [48]:
result

,Name,Python,Flask,Django,Javascript,Pandas,Numpy,Total_Marks,Percentage,status,Grade,Grade_1
Roll_No,,,,,,,,,,,,
1,ubaid,88,70,66,54,55,60,393,65.50,pass,Grade C,Grade C
2,ali,44,50,77,34,78,80,363,60.50,fail,Grade C,Grade C
3,imran,33,60,34,30,66,35,258,43.00,fail,Passed,Pass
4,ahmed,45,80,55,40,77,36,333,55.50,pass,Grade D,Grade D
5,hina,66,35,66,89,34,39,329,54.83,fail,Grade D,Grade D
6,anaya,24,36,78,88,55,88,369,61.50,fail,Grade C,Grade C
7,afshan,55,39,99,54,66,44,357,59.50,pass,Grade D,Grade D
8,sonia,78,88,54,89,78,34,421,70.17,fail,Grade B,Grade B
9,mohid,66,44,34,23,99,54,320,53.33,fail,Grade D,Grade D
10,salma,77,56,54,68,54,34,343,57.17,fail,Grade D,Grade D
11,aqsa,34,43,34,98,34,30,273,45.50,fail,Passed,Pass
12,aniq,55,35,30,65,54,88,327,54.50,fail,Grade D,Grade D
13,junaid,66,55,40,70,34,54,319,53.17,fail,Grade D,Grade D
14,ayesha,78,66,89,50,30,89,402,67.00,fail,Grade C,Grade C
15,sumaira,99,78,88,60,40,77,442,73.67,pass,Grade B,Grade B
16,hassan,54,99,54,80,89,34,410,68.33,fail,Grade C,Grade C
17,aresha,34,54,89,35,88,55,355,59.17,fail,Grade D,Grade D
18,omer,54,34,23,36,54,66,267,44.50,fail,Passed,Pass
19,rakin,34,54,68,39,89,78,362,60.33,fail,Grade C,Grade C
20,rahim,30,34,98,88,23,99,372,62.00,fail,Grade C,Grade C
21,rasim,40,30,65,44,68,54,301,50.17,fail,Grade D,Grade D
22,hani,55,40,70,34,98,34,331,55.17,fail,Grade D,Grade D
23,aymeen,67,55,50,54,65,39,330,55.00,pass,Grade D,Grade D
24,zaid,54,67,60,34,54,88,357,59.50,fail,Grade D,Grade D
25,hasnain,89,54,80,30,34,44,331,55.17,fail,Grade D,Grade D
26,hanzila,87,89,35,88,30,56,385,64.17,fail,Grade C,Grade C
27,hussain,44,87,36,54,40,43,304,50.67,pass,Grade D,Grade D
28,amjad,89,44,39,89,89,35,385,64.17,fail,Grade C,Grade C
29,nasir,88,89,88,23,88,55,431,71.83,fail,Grade B,Grade B
30,zeeshan,54,88,44,68,54,66,374,62.33,pass,Grade C,Grade C
31,saima,89,88,56,98,89,78,498,83.00,pass,Grade A,Grade A
32,hanif,23,44,43,65,23,99,297,49.50,fail,Passed,Pass
33,salma hanif,68,33,35,56,68,54,314,52.33,fail,Grade D,Grade D
34,sana,98,45,55,78,98,34,408,68.00,fail,Grade C,Grade C
35,javed,65,66,66,56,65,54,372,62.00,pass,Grade C,Grade C
36,jawad,56,24,78,53,70,34,315,52.50,fail,Grade D,Grade D
37,nahid,78,55,99,63,50,30,375,62.50,fail,Grade C,Grade C
38,kawal,56,78,54,67,60,40,355,59.17,pass,Grade D,Grade D
39,razia,53,66,34,65,80,55,353,58.83,fail,Grade D,Grade D
40,amna,63,77,54,89,35,67,385,64.17,fail,Grade C,Grade C
41,rabia,67,34,34,39,36,54,264,44.00,fail,Passed,Pass
42,seema,65,55,30,67,39,88,344,57.33,fail,Grade D,Grade D
43,nafisa,89,66,88,54,88,44,429,71.50,pass,Grade B,Grade B
44,salman,88,78,54,89,44,33,386,64.33,fail,Grade C,Grade C
45,mohsin,75,99,89,87,34,45,429,71.50,fail,Grade B,Grade B
46,zareena,33,54,23,44,54,66,274,45.67,fail,Passed,Pass
47,khatoon,78,34,68,89,34,24,327,54.50,fail,Grade D,Grade D
48,zawar,70,54,98,88,30,55,395,65.83,fail,Grade C,Grade C
49,kamal,50,34,65,88,88,78,403,67.17,fail,Grade C,Grade C
50,feroza,60,30,56,44,54,66,310,51.67,fail,Grade D,Grade D
51,feroz,80,40,78,33,89,77,397,66.17,fail,Grade C,Grade C
52,zafar,35,89,56,45,77,34,336,56.00,fail,Grade D,Grade D
53,yaqoob,36,88,53,66,34,55,332,55.33,fail,Grade D,Grade D
54,jamal,39,54,63,24,55,66,301,50.17,fail,Grade D,Grade D
55,jamela,88,89,67,55,66,78,443,73.83,pass,Grade B,Grade B
56,yousuf,44,23,65,78,78,99,387,64.50,fail,Grade C,Grade C
57,ammar,56,68,89,66,99,54,432,72.00,pass,Grade B,Grade B
58,qainat,43,98,39,77,54,34,345,57.50,fail,Grade D,Grade D
59,jannat,35,65,88,34,34,54,310,51.67,fail,Grade D,Grade D

result

In [49]:
result.duplicated().sum()

0

In [50]:
result.to_excel("ubaid.xl")

ValueError: No engine for filetype: 'xlxs'