In [4]:
import pandas as pd

In [8]:
pd.read_excel("")

    Roll_No        Name   Python  Flask  Django  Javascript  Pandas  Numpy
0         1        ubaid      88     70      66          54      55     60
1         2          ali      44     50      77          34      78     80
2         3        imran      33     60      34          30      66     35
3         4        ahmed      45     80      55          40      77     36
4         5         hina      66     35      66          89      34     39
5         6        anaya      24     36      78          88      55     88
6         7       afshan      55     39      99          54      66     44
7         8        sonia      78     88      54          89      78     34
8         9        mohid      66     44      34          23      99     54
9        10        salma      77     56      54          68      54     34
10       11         aqsa      34     43      34          98      34     30
11       12         aniq      55     35      30          65      54     88
12       13       junaid      66     55      40          70      34     54
13       14       ayesha      78     66      89          50      30     89
14       15      sumaira      99     78      88          60      40     77
15       16       hassan      54     99      54          80      89     34
16       17       aresha      34     54      89          35      88     55
17       18         omer      54     34      23          36      54     66
18       19        rakin      34     54      68          39      89     78
19       20        rahim      30     34      98          88      23     99
20       21        rasim      40     30      65          44      68     54
21       22         hani      55     40      70          34      98     34
22       23       aymeen      67     55      50          54      65     39
23       24         zaid      54     67      60          34      54     88
24       25      hasnain      89     54      80          30      34     44
25       26      hanzila      87     89      35          88      30     56
26       27      hussain      44     87      36          54      40     43
27       28        amjad      89     44      39          89      89     35
28       29        nasir      88     89      88          23      88     55
29       30      zeeshan      54     88      44          68      54     66
30       31        saima      89     88      56          98      89     78
31       32        hanif      23     44      43          65      23     99
32       33  salma hanif      68     33      35          56      68     54
33       34         sana      98     45      55          78      98     34
34       35        javed      65     66      66          56      65     54
35       36        jawad      56     24      78          53      70     34
36       37        nahid      78     55      99          63      50     30
37       38        kawal      56     78      54          67      60     40
38       39        razia      53     66      34          65      80     55
39       40         amna      63     77      54          89      35     67
40       41        rabia      67     34      34          39      36     54
41       42        seema      65     55      30          67      39     88
42       43       nafisa      89     66      88          54      88     44
43       44       salman      88     78      54          89      44     33
44       45       mohsin      75     99      89          87      34     45
45       46      zareena      33     54      23          44      54     66
46       47      khatoon      78     34      68          89      34     24
47       48        zawar      70     54      98          88      30     55
48       49        kamal      50     34      65          88      88     78
49       50       feroza      60     30      56          44      54     66
50       51        feroz      80     40      78          33      89     77
51       52        zafar      35     89      56          45      77     34
52       53       yaqoob      36     88      53          66      34     55
53       54        jamal      39     54      63          24      55     66
54       55       jamela      88     89      67          55      66     78
55       56       yousuf      44     23      65          78      78     99
56       57        ammar      56     68      89          66      99     54
57       58       qainat      43     98      39          77      54     34
58       59       jannat      35     65      88          34      34     54